# Database configuration

APP_CONFIG__DB__USERNAME="user"
APP_CONFIG__DB__PASSWORD="password"
APP_CONFIG__DB__PATH="db"
APP_CONFIG__DB__HOST="localhost"
APP_CONFIG__DB__ECHO=0
APP_CONFIG__DB__ECHO_POOL=0
APP_CONFIG__DB__POOL_SIZE=50
APP_CONFIG__DB__MAX_OVERFLOW=10

# Run configuration

APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8080